/*Style Header*/
.nav {
  background-color: #c3a68a;
}

.div-home {
  display: flex;
  align-items: center;
}

.div-logo {
  display: flex;
  align-items: center;
}

.div-nosotros {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagen-logo {
  width: 12rem;
  height: 12rem;
}

.nav-contenedor {
  display: grid;
  grid-template-columns: 550px 300px 300px;
  background-color: #c3a68a;
}

.header nav div ul li a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.header nav div ul li a:hover {
  transform: scale(2);
  transition-property: all;
  transition-duration: 1s;
  color: #9b2226;
  font-family: "Broadway-Normal", arial;
}

.nav-bar-home li {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-left: 1rem;
  padding: 3rem;
}

.nav-bar-nosotros li {
  display: flex;
  align-items: center;
  margin: 2rem;
  padding: 3rem;
}

/*Style footer*/
.footer {
  height: 15rem;
  background-color: #c3a68a;
  display: grid;
  grid-template-columns: 550px 300px 300px;
}

.div-ubicacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8rem;
  padding: 3rem;
}

.div-logo-footer {
  display: flex;
  align-items: center;
}

.div-sociales {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  padding: 0;
}

.footer div a {
  text-decoration: none;
  list-style: none;
  color: black;
}

/*Style body*/
.main {
  display: grid;
  grid-template-rows: 2;
  background-color: #ede0d4;
}

.texto-nosotros {
  font-family: "Broadway-Normal", arial;
}

.div-imagen-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  margin: 1rem;
  padding: 1rem;
}

.mb-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  margin: 10rem;
  padding: 10rem;
}

.imagen-div-main {
  height: 40rem;
  width: 40rem;
  object-fit: cover;
}

.animate__animated {
  display: flex;
  margin: 40px;
  padding-left: 80px;
  border-left: 80px;
  font-size: 80px;
  color: #c3a68a;
  font-family: fantasy;
}

.div-avisos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  margin: 1rem;
  padding: 1rem;
  font-size: 25px;
  font-family: fantasy;
  text-align: center;
}

.texto-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  margin: 1rem;
  padding: 1rem;
}

/*Style productos*/
.main-productos {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 5px;
  background-color: #ede0d4;
  font-family: "Broadway-Normal", arial;
}

.div-deco {
  width: 30rem;
  height: 30rem;
}

.div-regaleria {
  width: 30rem;
  height: 30rem;
}

.div-cocina {
  width: 30rem;
  height: 30rem;
}

.div-velas {
  width: 30rem;
  height: 30rem;
}

.div-indumentaria {
  width: 30rem;
  height: 30rem;
}

.imagen-div-deco {
  width: 20rem;
  height: 20rem;
}

.imagen-div-regaleria {
  width: 20rem;
  height: 20rem;
}

.imagen-div-cocina {
  width: 20rem;
  height: 20rem;
}

.imagen-div-velas {
  width: 20rem;
  height: 20rem;
}

.imagen-div-indumentaria {
  width: 20rem;
  height: 20rem;
}

/*# sourceMappingURL=style.css.map */
